/** Buttons **/

/* Carousel prev/next buttons */
.carousel-control-prev, .carousel-control-next {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	z-index: 0
}
.carousel-control-prev:hover, .carousel-control-next:hover {background-color: rgba(255, 255, 255, 0.2)}

/* Banner buttons */

.banner-link {
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	padding: 0 10px;
	border-radius: 7px;
	background-color: var(--secondary);
	color: #fff !important; /* Override Bootstrap default color */
	text-decoration: none;
	transition-duration: 0.2s
}
.banner-link:hover {opacity: 0.75}
.banner-link:active {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	transition-duration: 0.1s
}

.banner-link ion-icon {
	margin-left: 8px;
	font-size: 24px
}
.banner-link:first-of-type:hover ion-icon {
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	transition-duration: 0.5s
}
.banner-link:last-of-type:hover ion-icon {
	-webkit-animation: shake 0.1s;
	animation: shake 0.2s;
	transition-duration: 0.5s
}

/* Form selection buttons */
.btn-select-form {
	width: 200px;
	height: 280px;
	margin: 0 10px;
	border: none;
	border-radius: 7px;
	background-color: transparent;
	transition-duration: 0.2s
}
.btn-select-form:hover {background-color: #eee}
.btn-select-form:active {
	background-color: #ddd;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition-duration: 0.1s
}

/* Form buttons */
.btn {
	margin-bottom: 20px;
	padding: 10px 25px;
	border: none;
	border-radius: 10px;
	background-color: #fff;
	font-size: 15px
}

/* Form submit button */

.btn-submit {
	padding: 10px;
	border: none;
	border-radius: 7px;
	background-color: var(--primary);
	color: #fff;
	transition-duration: 0.2s
}
.btn-submit:hover {
	box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.1);
	color: #fff
}
.btn-submit:active {
	box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.2);
	color: #fff;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition-duration: 0.1s
}

/* Form neutral button */

.btn-neutral {
	padding: 10px;
	border: none;
	border-radius: 7px;
	background-color: var(--secondary);
	color: #fff;
	transition-duration: 0.2s
}
.btn-neutral:hover {box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.1)}
.btn-neutral:active {
	box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition-duration: 0.1s
}

/* Form cancel button */

.btn-cancel {
	padding: 10px;
	border: none;
	border-radius: 7px;
	background-color: transparent;
	color: #000;
	transition-duration: 0.2s
}
.btn-cancel:hover {background-color: rgba(0, 0, 0, 0.1)}
.btn-cancel:active {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition-duration: 0.1s
}

/* Bootstrap modal close button */
.btn-close {
	box-shadow: none !important /* Remove Bootstrap default focus */
}