/** Carousel prev/next buttons **/
.carousel-control-prev, .carousel-control-next {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	z-index: 0
}
.carousel-control-prev:hover, .carousel-control-next:hover {background-color: rgba(255, 255, 255, 0.2)}