/* border des sections */
.form-select-section {
	padding: 50px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: auto 5px;

}

/* forme image */
.form-icon {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;

}

/* image particulier */
.parti{
	background-image: url(../images/particulier.png);
	background-size: cover;
}

/* image collectivité */
.collec{
	background-image: url(../images/collectivite.png);
	background-size: cover;
}

/* image entreprise */
.entre{
	background-image: url(../images/chef-dentreprise.png);
	background-size: cover;
}

.form-icon{
	margin-top: 20px;
}

label {
	/*display: flex;*/
	/*flex-direction: column;*/
}

/* zones de texte */
input {
	width: 40%;
	padding: 5px 0;
	outline: none;
	border: none;
	border-bottom: 1px solid;
	background-color: lime;
	transition-duration: 1s
}

input, textarea{
	border-color: var(--primary);
	text-align: left!important;
	margin: 0px 20px 20px 20px;
}

textarea{
	padding: 0px 5px;
	min-height: 200px;
	resize : vertical;
	margin-top: 15px;
}

label.large input {
	display: block;
	width: 100%;
	background: saddlebrown;
}

/* Error input */
label.error input {
	border-color: var(--error);
	color: var(--error);
}

label.error .label-champs {color: var(--error)}

/* libéllé des champs */
.label-champs{
	text-align: left!important;
	margin:15px 20px 0px 20px;
}

/* encadré des champs */
fieldset{
	margin: 20px 0px 30px 0px;
	padding-bottom: 20px;
	border : 2px solid rgba(104, 99, 99, 0.123);
	border-radius: 8px;
}

/* Libellé de l'encadré */
legend{
	font-weight: bold;
	font-size: 18px;
	padding: 0px 15px 10px 15px;
	text-align: left!important;
}

/* Modal */
.modal-dialog{
	max-width: 700px;
	max-height: 700px;
}