/* border des sections */
.form-select-section {
	padding: 50px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: auto 5px;

}

/* boutons entiers */
.btn-form {
	width: 200px;
	height: 280px;
	margin: 0 10px;
	border: none;
	border-radius: 7px;
	background-color: transparent;
}
.btn-form:hover {
	background-color: #eee;
}

/* forme image */
.form-icon {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;

}

/* image particulier */
.parti{
	background-image: url(../images/particulier.png);
	background-size: cover;
}
/* image collectivité */
.collec{
	background-image: url(../images/collectivite.png);
	background-size: cover;
}
/* image entreprise */
.entre{
	background-image: url(../images/chef-dentreprise.png);
	background-size: cover;
}


label {
	display: flex;
	flex-direction: column;
}

/* input, textarea{
	background-color: var(--primary);
	opacity: 30%;
} */

input.error{
	background-color: red;
}

.form-icon{
	margin-top: 20px;
}

