/** Contact page and forms **/

/* Form selection section */

.form-select-section {
	margin: auto 5px;
	padding: 50px;
	border: 1px solid #ccc;
	border-radius: 10px
}

.modal-header .subtitle {margin: 0}

/* Form selection button icon */
.form-icon {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 20px 0;
	border-radius: 50%;
	background-size: cover
}
.form-icon.entre {background-image: url(../images/iconCompanies.png)} /* Companies icon */
.form-icon.collec {background-image: url(../images/iconCommunities.png)} /* Communities icon */
.form-icon.parti {background-image: url(../images/iconIndividuals.png)} /* Individuals icon */

/* Form selection button title */
.form-title {color: #000}

/* Input labels */
label {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-right: -4px;
	padding: 10px
}
label.large {width: 100%}

/* Label title */
.label-champs {
	display: block;
	text-align: left !important
}
label.error .label-champs {color: var(--error)}

/* Text fields */

/* Error input */
label.error input {
	border-color: var(--error);
	color: var(--error)
}

input, textarea {
	width: 100%;
	padding: 5px 10px;
	outline: none;
	border-width: 0;
	border-style: solid;
	border-color: var(--primary)
}

input {
	display: block;
	border-bottom-width: 1px;
	border-radius: 0;
	transition-duration: 0.2s
}

textarea {
	min-height: 200px;
	margin-top: 15px;
	border-width: 1px;
	border-radius: 7px;
	resize: vertical
}

/* Label error message */
.error-message {
	color: var(--error);
	font-size: 12px;
	transition-duration: 0.2s
}

/* encadré des champs */
fieldset {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	text-align: left
}

/* Libellé de l'encadré */
legend {
	text-align: left;
	font-size: 18px;
	font-weight: bold
}

/* Form modal */
.modal-dialog {
	max-width: 700px;
	max-height: 700px
}

/* Form submit confirmation */
.confirmation {
	display: none;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 7px;
	background-color: var(--primary);
	color: #fff
}