/* border des sections */
.form-select-section {
	padding: 50px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: auto 5px;

}

/* forme image */
.form-icon {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;

}

/* image particulier */
.parti{
	background-image: url(../images/particulier.png);
	background-size: cover;
}

/* image collectivité */
.collec{
	background-image: url(../images/collectivite.png);
	background-size: cover;
}

/* image entreprise */
.entre{
	background-image: url(../images/chef-dentreprise.png);
	background-size: cover;
}

.form-icon{
	margin-top: 20px;
}

label {
	display: flex;
	flex-direction: column;
}

/* zones de texte */
input{
	border : none;
	border-bottom: 1px solid;
	height: 25px;
}

input, textarea{
	border-color: var(--primary);
	text-align: left!important;
	padding: 0px 5px;
	margin: 0px 20px;
}

textarea{
	min-height: 200px;
	resize : vertical;
	margin-top: 15px;
}
/* Fin zones de texte */

/* .lastname{
	width: 50%;
} */

/* champs si erreur de saisie */
input.error{
	border-color: var(--error);
	font-size: 10px;
}

/* libéllé des champs */
.label-champs{
	text-align: left!important;
	margin:15px 20px 0px 20px;
}

/* encadré des champs */
fieldset{
	margin: 20px 0px 30px 0px;
	padding-bottom: 20px;
	border : 2px solid rgba(104, 99, 99, 0.123);
	border-radius: 8px;
}

/* Libellé de l'encadré */
legend{
	font-weight: bold;
	font-size: 18px;
	padding: 0px 15px 10px 15px;
	text-align: left!important;
}

/* Modal */
.modal-dialog{
	max-width: 700px;
	max-height: 700px;
}