/** Footer **/

footer {
	margin-top: 50px;
	background-color: var(--secondary);
	color: #fff
}

/* Footer content */

.footer-container {padding-top: 20px}

/* Sections */
footer .col {
	padding-bottom: 20px;
	border-width: 0;
	border-style: solid;
	border-color: var(--secondary-variant);
	border-right-width: 2px
}
footer .col:last-child {border: none}

/* First section logo */
.footer-logo {
	width: 75px;
	height: 75px;
	margin: 0 20px 0 8px;
	border-radius: 50%;
	background-color: var(--secondary-variant)
}

/* Subtitles */
.footer-subtitle {
	margin-bottom: 10px;
	font-weight: 700
}
.subtitle-brand {font-size: 20px}
.subtitle-join-us {margin: 27px 0 8px 0}

/* Links */

.footer-link {
	display: block;
	opacity: 0.75;
	user-select: none;
	text-decoration: none;
	transition-duration: 0.2s
}
.footer-link:hover {opacity: 1}

.footer-link ion-icon {margin-right: 5px}

/* Copyright section */

.copyright-container {
	display: flex;
	align-items: center;
	padding: 20px 0;
	background-color: var(--secondary-variant)
}

.copyright {font-size: 14px}

/* Media queries */

/* 1200px max media query */
@media screen and (max-width: 1200px) {
	.footer-container {padding-top: 0}
	footer .col {
		padding-top: 20px;
		border-right-width: 0;
		border-bottom-width: 2px
	}
	footer .col:nth-child(3) {border-bottom-width: 0}
}

/* 768px max media query */
@media screen and (max-width: 768px) {
	.legal-notices {margin-bottom: 10px}
}

/* 576px max media query */
@media screen and (max-width: 576px) {
	footer .col:nth-child(3) {border-bottom-width: 2px}
}