/** Header and navbar **/

/* Header */
header {
	width: 100%;
	padding: 0 10px;
	top: 0;
	position: fixed !important;
	background-color: var(--primary);
	user-select: none;
	z-index: 1
}

/* Navbar */
nav {
	justify-content: flex-end;
	border-radius: 7px
}

/* Navbar brand */
.navbar-brand {
	background: url(../../favicon2.ico) center no-repeat;
	background-size: 100%;
	color: transparent !important /* Override Bootstrap default color */
}

/* Navbar links */

.nav-link:not(.contact-link) {
	position: relative;
	color: #fff;
	transition: 0.2s
}
/* Active link */
.nav-link.active::before {
	width: 100% !important;
	left: 0 !important
}

/* Contact button */
.contact-link {
	border-radius: 50px;
	background-color: var(--secondary);
	color: #fff !important; /* Override Bootstrap default color */
	transition: 0.2s
}

/* Contact button variant for small screens */
.contact-link-rounded {
	display: none;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 10px;
	right: 0;
	bottom: 0;
	position: fixed;
	border-radius: 50%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: var(--secondary);
	color: #fff !important; /* Override Bootstrap default color */
	font-size: 25px;
	transition-duration: 0.2s;
	z-index: 1;
}
.contact-link:hover, .contact-link-rounded:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}
.contact-link:active, .contact-link-rounded:active {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	transition-duration: 0.1s
}

/* Dropdown menu button */
.navbar-toggler {
	display: flex;
	padding: 0;
	border-radius: 0;
	box-shadow: none !important; /* Remove Bootstrap default focus */
	color: #fff;
	font-size: 30px
}

/* Header media queries */

/* 992px min (Bootstrap lg) */
@media screen and (min-width: 992px) {
	/* Large screen, full header without dropdown menu */
	.nav-link:not(.contact-link) {
		margin-right: 30px;
		padding: 0
	}
	.nav-link:not(.contact-link)::before {
		content: "";
		width: 0;
		height: 2px;
		bottom: -2px;
		left: 50%;
		position: absolute;
		background-color: #fff;
		transition-duration: 0.4s
	}
	.nav-link:hover::before {
		width: 100%;
		left: 0
	}
	.nav-link:not(.contact-link):active, .nav-link:active::before {opacity: 0.65}
}

/* 991px max (Bootstrap lg and larger) */
@media screen and (max-width: 991px) {
	/* Small screen, minimized header with dropdown menu */
	nav {background-color: var(--primary)}
	.nav-link {
		margin-right: 0;
		padding: 5px 0;
		text-align: center
	}
	.nav-link:hover {opacity: 0.65}
	.contact-link {display: none} /* No contact button in the dropdown menu */
	.contact-link-rounded {display: flex} /* The contact button is at the bottom right angle of the screen */
}