/** Main styles **/

/* CSS imports */
@import url(../fonts/fonts.css);
@import url(header.css);
@import url(banner.css);
@import url(footer.css);

/* Variables */
:root {
	--primary: #a4bd01; /* Lightgreen */
	--secondary: #427aa1; /* Lightblue */
	--secondary-variant: #06668c /* Blue */
}

/* Text selection color */
::selection {background-color: rgba(0, 0, 0, 0.1)}
::-moz-selection {background-color: rgba(0, 0, 0, 0.1)}

body {
	margin: 0;
	font-family: Poppins
}

/* Tests */

.anchor {height: 56px}

.presentation-section {height: 100vh}

.map-section {margin-top: 50px}

#map {
	height: 500px;
	border-radius: 10px;
	z-index: 0
}

/* Titles & subtitles */

.title {
	color: var(--secondary-variant);
	font-family: "Tungsten Semibold";
	font-size: 70px;
	letter-spacing: 1px
}

.subtitle {
	display: inline-block;
	margin: 30px 0;
	position: relative;
	color: #444;
	font-weight: 700
}
.subtitle::before {
	content: "";
	width: 80%;
	height: 2px;
	bottom: 0;
	left: 10%;
	position: absolute;
	background-color: var(--primary);
	z-index: -1
}