/** Main styles **/

/* Variables */
:root {
	--primary: #a4bd01; /* Lightgreen */
	--secondary: #427aa1; /* Lightblue */
	--secondary-variant: #06668c /* Blue */
}

body {background-color: var(--secondary-variant)}