/** Main styles **/

/* CSS imports */
@import url(../fonts/fonts.css);
@import url(header.css);
@import url(banner.css);
@import url(footer.css);
@import url(texts.css);
@import url(btn.css);

/* Variables */
:root {
	--primary: #a4bd01; /* Lightgreen */
	--secondary: #427aa1; /* Lightblue */
	--secondary-variant: #06668c; /* Blue */
	--tertiary: #ff8800; /* Orange */
	--error: #ff5f5f /* Red */
}

/* Text selection color */
::selection {background-color: rgba(0, 0, 0, 0.1)}
::-moz-selection {background-color: rgba(0, 0, 0, 0.1)}

body {
	margin: 0;
	font-family: Poppins
}

