/** Legal notices **/

.modal-body {
    height: 300px;
    overflow-y:scroll
}

pre {
    width: 100%;
    white-space: pre-wrap;
    text-align: justify;
    font-family: Poppins;
}

pre h5, pre h6 {font-weight: bold}

.mentions-logo {width: 100px}