/** Legal notices **/

.modal {overflow: hidden}

.modal-dialog, .modal-content {height: 96%}

.modal-body {
    overflow-y: scroll
}

pre {
    width: 100%;
    white-space: pre-wrap;
    text-align: justify;
    font-family: Poppins
}

.sousTitreMentions, .articleMentions {font-weight: bold;}

.articleMentions {font-size: 22px}

.sousTitreMentions {font-size: 18px}

.mentions-logo {width: 100px}