/* container gauche */
.reveal1 {
    opacity : 0;
	transform: translateX(-50px);
}
/* container droite */
.reveal2 {
    opacity : 0;
	transform: translateX(50px);
}
/* container bottom*/
.reveal3 {
	opacity : 0;
	transform: translateY(-50px);
}
/* parallaxe */
.reveal4 {
    opacity : 0;
}

/* affichage transition */
.reveal-visible{
    opacity : 1;
	transform: translateX(0);
	transition: 1.8s;
}
html, body {overflow-x: hidden}