/** Research & development page **/

.soustitre {margin: 100px 0 10px 0}

/* Images */

.img {
	order: 0;
	width: 60vh;
	height: 35vh;
	margin-bottom: 30px;
	border-radius: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

#img1 {background-image: url(../images/electroniquePuissance.png)}
#img2 {background-image: url(../images/electroniqueEmbarquee.jpeg)}
#img3 {background-image: url(../images/BMS.png)}
#img4 {background-image: url(../images/collectivite.jpeg)}
#img5 {background-image: url(../images/particulier.jpeg)}

/* Descriptions */
div #im {
	display: flex;
	justify-content: center;
	width: 50vh;
	min-height: 50vh
}

/* Lists */
ul {text-align: left}

/* R&D page media queries */

/* 768px max (Bootstrap md) */
@media screen and (max-width: 768px) {
	/* Change image/text order for small screens */
	.change {order: -1 !important}
	div.rang {margin-top: 20px}
	.boxim1 {align-items: center}
}