/** Recherche & Développement styles **/

/* CSS imports */
@import url(../fonts/fonts.css);
@import url(header.css);
@import url(footer.css);

/* Variables */
:root {
	--primary: #a4bd01; /* Lightgreen */
	--secondary: #427aa1; /* Lightblue */
	--secondary-variant: #06668c /* Blue */
}

/* Text selection color */
::selection {background-color: rgba(0, 0, 0, 0.1)}
::-moz-selection {background-color: rgba(0, 0, 0, 0.1)}

body {
	margin: 0;
	font-family: Poppins
}

.rechercheEtDev {
	height: 56px;
	margin-bottom: 10px
}

h2 {
    text-align: center;
    color: var(--secondary);
    font-weight: bold;
    padding: 25px;
}

h3 {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-align: center;
    color: rgb(116, 112, 112);
    font-weight: bold;
    padding: 25px;
}

.presentation{
    margin-left: 200px;
    margin-right: 200px;
}

.presentation-section{
    text-align: center;
}

.column1 {
    border-right: solid;
}
