/** Page structure with vertical line **/

/* rangés */
div.rang{
	margin-top: 190px;
}

/* séparateurs */
.sepa{
	border-left: solid #A4BD01;
	border-width: 3px;
	border-radius: 30%;
}

/* images */

div.boxim1{
	align-items: flex-end;
}

/* image panneaux */
div #im1{
	border-radius: 10px;
	background-image: url(../images/mon);
	background-repeat: no-repeat;
	background-size: cover;
	width: 60vh;
	height: 35vh;
	margin-bottom: 30px;
	order: 0;
}

/* déscriptif panneaux/ombriere/borne */
div #im2{
	width: 40vh;
	min-height: 40vh;
	display: flex;
	justify-content: center;
}

/* image ombriere */
div #im3{
	border-radius: 10px;
	background:url(../images/test2.jpg) center no-repeat;
	background-size: cover;
	width: 60vh;
	height: 35vh;
	margin-bottom: 30px;
	order: 0;
}


/* image borne */
div #im4{
	border-radius: 10px;
	background: url(../images/test3.jpg) no-repeat;
	background-size: cover;
	width: 60vh;
	height: 35vh;
	margin-bottom: 30px;
	order: 0;
}


/* sous titres */
h3{
	padding: 0 !important;
}

/* resume container */
.resume{
	margin-top: 220px;
}


/* descriptions */
p{
	text-align: center;
}
/* descriptions 1/2/4 elem*/
p.elem{
	margin-top: 50px;
	text-align: justify
}

/* Parallax effect on the last image */
.parallax {
	height: 40vh;
	margin-top: 50px;
	background: url(../images/test4.jpg) center fixed no-repeat;
	background-size: cover
}

/* Structure media queries */

/* 768px max (Bootstrap md) */
@media screen and (max-width: 768px) {
	/* Change image/text order for small screens */
	.change {order: -1 !important}
	div.rang {margin-top: 20px}
	div.resume {margin-top: 20px}
	footer {margin-top: 0}    
}